<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mayank.jumble"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login">
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up">
        </activity>
        <activity
            android:name=".Jumble_Group_Create"
            android:label="New Group">
        </activity>
        <activity
            android:name=".Jumble_Add_Member"
            android:label="Add Members">
        </activity>
        <activity android:name=".Jumble_Chat_Page">
        </activity>
    </application>

</manifest>
